<p id="notice"><%= notice %></p>

<h1>Tus Proyectos</h1>

<table>
  <thead>
    <tr>
      <th>Proyecto nombre</th>
      <th>Proyecto descripcion</th>
      <th>Proyecto inicio</th>
      <th>Proyecto final</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proyectos.each do |proyecto| %>
      <tr>
        <td><%= proyecto.proyecto_nombre %></td>
        <td><%= proyecto.proyecto_descripcion %></td>
        <td><%= proyecto.proyecto_inicio %></td>
        <td><%= proyecto.proyecto_final %></td>
        <td><%= link_to 'Edit', edit_proyecto_path(proyecto) %></td>
        <td><%= link_to 'Ver Proyecto', {:controller => 'acta', :action => 'index', :parametro => proyecto.id } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proyecto', new_proyecto_path %>
