<%= form_for(@tema) do |f| %>
  <% if @tema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tema.errors.count, "error") %> prohibited this tema from being saved:</h2>

      <ul>
      <% @tema.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= @acuerdos = Array.wrap(nil) %>
  <%= @desacuerdos  = Array.wrap(nil) %>
  <%= @compromisos  = Array.wrap(nil) %>
  <%= @dudas = Array.wrap(nil) %>

  <div class="field">
   <!-- <%= f.label :acta_id %><br> -->
    <%= f.hidden_field :acta_id , :value => @valorActa , :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :tema_nombre %><br>
    <%= f.text_field :tema_nombre %>
  </div>
  <div class="field">
    <%= f.label :tema_descripcion %><br>
    <%= f.text_area :tema_descripcion %>
  </div>
  <div class="field">
    <%= f.label :tema_estado %><br>
    <%= f.text_field :tema_estado %>
  </div>


  <h2> Aqui va la informacion de los tipos </h2>


  <h4>Acuerdos</h4>
  <h4>Desacuerdos</h4>
  <h4>Compromisos</h4>
  <h4>Dudas</h4>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
