<p id="notice"><%= notice %></p>

<p>
  <strong>Acta:</strong>
  <%= @tema.acta_id %>
</p>

<p>
  <strong>Tema nombre:</strong>
  <%= @tema.tema_nombre %>
</p>

<p>
  <strong>Tema descripcion:</strong>
  <%= @tema.tema_descripcion %>
</p>

<p>
  <strong>Tema estado:</strong>
  <%= @tema.tema_estado %>
</p>

<%= link_to 'Edit', edit_tema_path(@tema),class: 'btn btn-success' %> |
<%= link_to 'Back', temas_path,class: 'btn btn-success' %>
